<html>
    <head>
        <title>
            test app design by Nguyen Tiem
        </title>
        <script src="jquery.js"></script>
       <script src="socket.io/socket.io.js"></script>
       <script>
           /// goi ket noi den sevrer
        //    var socket = io("http://192.168.0.106:3000"); 
            $(document).ready(function(){
            // chay xong tu tren xuong duoi roi moi hien tren may khac hang 
            //  alert("hello jquery"); 
           });
        </script>
        <body>
            <p>
                hello world! 
            </p>
        </body>
    </head>
</html>